<!DOCTYPE html>
<html>
<head>

<script src="../../library/vue.js"></script>

</head>
<body>

    <div id = "app">
        <h1 :class="className" v-bind:title ="subject">
            {{ subject }}
        </h1>
        <img :src="imgUrl" :alt="altText" :title="altText" width="100px">
    </div>    

    <script>
        // 뷰 인스턴스 생성 단 Vue는 대소문자 확인해야함 
            new Vue({
                el:'#app',
                data :{
                    subject:"템플릿과 v-디렉티브 익히기",
                    imgUrl:"https://cdn.pixabay.com/photo/2021/06/15/13/20/banded-demoiselle-6338620_1280.jpg",
                    altText:"이미지입니다.",
                    className:'main-title' //클래스 이름을 가변적으로 설정 가능

                }
            });

    </script>

    <div id = "app2">
        <h1>{{ title }}</h1>
        <h2 v-if="x">나는 과일을 좋아합니다.</h2>
        <p v-if="score=100">A</p>
        <p v-else-if="score>90">B</p>
        <p v-else>F</p>
    
    </div>

    <script>
        new Vue({
            el:"#app2",
            data:{
                title:"v-if 디렉티브 조건문",
                x: false,
                score: 100
            }
        });
    </script>
<p>---------------------------------------------------------------------</p>
<div id="app3">
    <ul>
        <li v-for='row in obj'>
        <li v-for='(row, index) in obj'>
            <span v-bind:title='index'>{{ row.번호 }}</span>
            <span v-bind:title='index'>{{ row.이름 }}</span>
            <span v-bind:title='index'>{{ row.점수 }}</span>
        </li>

    </ul>
</div>
<script>
    new Vue({
        el:"#app3",
        data:{
            obj:[
                {번호:1, 이름:"김유신1", 점수:100},
                {번호:2, 이름:"김유신2", 점수:80},
                {번호:3, 이름:"김유신3", 점수:60},
                {번호:4, 이름:"김유신4", 점수:80},
                {번호:5, 이름:"김유신5", 점수:70}
            ],
            title:"객체 배열처리"
        }

    });
</script>


<div id="app4">
    <table>
        <tr>
            <th>번호</th>
            <th>과일이름</th>
        </tr>
        <tr v-for="(item,idx) in arr">
            <td>{{idx+1}}</td>
            <td>{{item}}</td>
        </tr>
    </table>
</div>

<script>
new Vue({
    el: "#app4",
    data: {
        arr:["사과","배","자몽","딸기","포토","수박"]
    }
});
</script>

</body>
</html>